        <link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>

        <p><%= profile_user.name %></p>
        <p><%= profile_user.email %></p>


        <% if(user.id==profile_user.id){ %>
            <h2>Change your details here</h2>
            <form action="/users/update/<%=profile_user.id%>" method="POST">
            <input type="text" name="name" placeholder="New Name" value=<%=profile_user.name%> required>
            <input type="text" name="email" placeholder="New Email" value=<%=profile_user.email%> required>
            <button type="submit"> Change</button>
        </form>
                
          <%}%>